body, html {
  margin: 0;
  font-family: "Roboto",
    sans-serif;
  text-align: center;
  background-color: black;
}

input[type=text] {
  background-color: #3CBC8D;
  color: white;
  border: none;
  border-bottom: 2px solid #FD7837;
  padding: 12px 20px;
  margin: 8px 0;
}

h1 {
  color: white;
  text-shadow: 2px 2px 3px black;
}

h2 {
  color: #FD7837;
  text-shadow: 2px 2px 3px black;
}

h4 {
  color: #1CB2B1;
  text-shadow: 2px 2px 3px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
